* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    height: 200vh;
    overflow-x: hidden;
    background: linear-gradient(to bottom,blue,purple);
}

.navbar {
    position: sticky;
    top: 0;
    text-align: center;
    width: 100vw;
    font-size: 40px;
    padding-top: 10px;
    background-color: aqua;
}

.navbar ul li{
    display: inline;
    margin: 50px;
}

li a{
    color: black;
    text-decoration: none;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

img {
    position: fixed;
    width: 60px;
    bottom: 20px;
    right: 20px;

}




